{% extends "layout.twig" %}
{% block content %}

<div class="row">
    <div class="span12">
        <h1>I Want A...</h2>

        <dl>
        {% for recipe in recipes %}
            <dt><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></dt>
            <dd>
                <p>{{recipe.description}}</p>
            </dd>
        {% endfor %}
        </dl>

    </div>
</div>

{% endblock %}