{% extends "layout.twig" %}
{% block content %}

<div class="row">
    <div class="span12">
        <h1>I Want A...</h1>

        <dl>
        {% for drink in drinks %}
            <dt><a href="/recipes/{{drink.id}}">{{drink.name}}</a></dt>
            <dd>
                <p>{{drink.description}}</p>
            </dd>
        {% endfor %}
        </dl>

    </div>
</div>

{% endblock %}