{% extends "layout.twig" %}
{% block content %}

<div class="row">
    <div class="span6">
        <h1>I Want A...</h2>

        <dl>
        {% for recipe in recipes %}
            <dt><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></dt>
            <dd>{{recipe.description}}</dd>
        {% endfor %}
        </dl>

    </div>

    <div class="span6">
        <h1>What can I make?</h1>
        <label for="query">Start typing what you have in your cabinet...</label>
        <input type="text" id="query">

        <div class="ui-widget">
          <div id="selected" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
        </div>

        <div class="ui-widget">
          <div id="suggested" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {

    function searchForDrinks() {

        var list = [];

        $('#selected div').each(function(){
            list.push($(this).attr('data-id'));
        });

        $.getJSON('/recipe-lookup', {'ingredients' : list.join(',')}, function(data) {

            $(data).each(function(){
                if($('#suggested div[data-id=' + this.id + ']').length > 0) {
                    return;
                }

                $( "<div>" ).text(this.recipe).attr('data-id', this.id).prependTo("#suggested");
                $( "#suggested" ).scrollTop( 0 );
            });
        });
    }

    function addIngredient(name, id) {

        if($('#selected div[data-id=' + id + ']').length > 0) {
            return;
        }

        $( "<div>" ).text(name).attr('data-id', id).prependTo("#selected");
        $( "#selected" ).scrollTop( 0 );
        searchForDrinks();
    }


    $( "#query" ).autocomplete({
        source: "/ingredient-lookup",
        minLength: 2,
        select: function( event, ui ) {

        if(ui.item) {
            addIngredient(ui.item.value, ui.item.id);
        }

        $(this).val('');
            return false;
        }
    });
});
</script>

{% endblock %}
