{% extends "layout.twig" %}
{% block content %}

<div class="row">
    <div class="span6">
        <h1>I Want A...</h2>

        <dl>
        {% for recipe in recipes %}
            <dt><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></dt>
            <dd>{{recipe.description}}</dd>
        {% endfor %}
        </dl>

    </div>

    <div class="span6">
        <h1>What can I make?</h1>
        <label for="q">Start typing what you have in your cabinet...</label>
        <input type="text" name="q" id="q">


        <div class="ui-widget" style="margin-top: 2em; font-family: Arial;">
          Result:
          <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){

        function log( message ) {
          console.log('ok');
        }

        $("#q").autocomplete({
            source: "/ingredient-lookup",
            minLength: 1,
            select: function( event, ui ) {
                console.log('asdasd');
            }
        });
    });
</script>
{% endblock %}